{% extends 'base.html' %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Sidebar</h3>
            <p class='text-muted'>Placeholder Placeholder Placeholder
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Placeholder</li>
                <li class="list-group-item list-group-item-light">Placeholder</li>
                <li class="list-group-item list-group-item-light">Placeholder</li>
                <li class="list-group-item list-group-item-light">Placeholder</li>
            </ul>
        </div>
    </div>
{% endblock %}