{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <legend> {{ legend }} </legend>

    <div class="content-section">
        <p style="margin: 0">This Part-of-Speech tagger is based on the Continuous Random Fields model.
            <br>
            It was trained on the following NLTK corpora: conll2000, Treebank subset, masc.
            <br>
            Training set consisted of ~60000 sentences, testing set of ~25000 sentences.
        </p>
    </div>

    <form class="form-control" method="post" action="{{ url_for('pos.process_pos') }}">
        {{ form.csrf_token }}
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">Type your text here:
                <p>{{ form.text_pos }}</p>
            </div>
        </div>
        <input name="file" hidden id="file">
        <input class="btn btn-outline-secondary mb-2" id="submit-button" type="submit" value="Submit">
    </form>

    <p id="dateChange"></p>
    <pre id="content"></pre>

    <hr>

    {% if output %}
        <div class="container-md">
            <ul class="list-group">
                <li class="list-group-item"><p><strong>Original Text:</strong></p>
                    <p>{{ output.text }}</p></li>
            </ul>

            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Word</th>
                    <th scope="col" class="text-center">POS Tag</th>
                </tr>
                </thead>
                <tbody>
                {% for word_tag in output.pos %}
                    <tr>
                        <td class="text-center">{{ word_tag[0] }}</td>
                        <td class="text-center">{{ word_tag[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/polling_pos.js') }}"></script>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>References</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="btn-link"
                                                                     href="https://gist.github.com/nlothian/9240750#word-level"
                                                                     target="_blank">Penn Treebank II Tagset</a></li>
                <li class="list-group-item list-group-item-light"><a class="btn-link"
                                                                     href="https://en.wikipedia.org/wiki/Conditional_random_field"
                                                                     target="_blank">Continuous Random Fields Model</a>
                </li>
                <li class="list-group-item list-group-item-light"><a class="btn-link"
                                                                     href="https://github.com/nltk/nltk_data"
                                                                     target="_blank">NLTK Data</a></li>
            </ul>
        </div>
    </div>
{% endblock %}