{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <p>This page provides interface to build a sentence tree from the given sentence.</p>
    </div>
    <form class="form-control" method="post" action="{{ url_for('process_sentence_tree') }}">
        <legend> {{ legend }} </legend>
        {{ form.csrf_token }}
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">Type your sentence here:
                <p>{{ form.text_tree }}</p>
            </div>
        </div>

        <input class="btn btn-outline-secondary mb-2" id="submit-button" type="submit" value="Submit">
    </form>

    <hr>

    {% if output %}
        <div class="container-md">
            <ul class="list-group">
                <li class="list-group-item"><p><strong>Original Sentence:</strong></p>
                    <p>{{ output.sentence }}</p></li>
                <li class="list-group-item"><p><strong>Sentence Tree:</strong></p>
                    <p>{{ output.sentence_tree }}</p></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>References</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="btn-link" target="_blank"
                                                                     href="https://en.wikipedia.org/wiki/Sentence_diagram#Constituency_and_dependency">Sentence
                    Trees Explanation</a></li>
            </ul>
        </div>
    </div>
{% endblock %}