{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <legend> {{ legend }} </legend>

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>

    <div class="content-section">
        <p style="margin: 0">This page provides an interface to measure the performance of a given translation with
            syntax trees based metric.</p>
    </div>

    <div class="container" id="text-type" style="padding: 0">
        <div class="input-group mb-3 options" style="margin-left: 0">
            <div class="input-group-prepend">
                <label class="input-group-text" for="metric-select">Type</label>
            </div>
            <select class="custom-select" id="text-type-select" name="text-type" required style="margin-right: 0">
                <option selected disabled value="">Choose Type</option>
                <option value="sentence" id="sentence">Sentence-level</option>
                <option value="corpus" id="corpus">Corpus-level</option>
            </select>
        </div>
    </div>

    <div id="common" class="d-none">
        <div class="container border-bottom" id="preprocessing">
            <h5 class="display-5">Text pre-processing</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="contractions" name="contractions" value="1">
                <label class="form-check-label" for="contractions">Expand contractions (e.g. I`m -> I am)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="spec-chars" name="spec-chars" value="1">
                <label class="form-check-label" for="spec-chars">Remove special characters (e.g. ",")</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="lowercase" name="lowercase" value="1">
                <label class="form-check-label" for="lowercase">Lowercase</label>
            </div>
        </div>

        <div class="container" id="depth-select">
            <h5 class="display-5">Subtree Depth</h5>
            <div class="input-group mb-3 options" style="margin-left: 0">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="depth">Depth</label>
                </div>
                <select class="custom-select" id="depth" name="depth" required style="margin-right: 0">
                    <option selected disabled value="">Select Depth</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
    </div>

    <form id="sentence-level" class="form-control d-none" onsubmit="return preventSubmission(event);">

        <div class="container border-bottom" id="sentiment-analysis-sentence" style="padding: 10px">
            <h5 class="display-5">Sentiment Analysis</h5>
            <p style="margin-bottom: 0">Use sentiment analysis classifier:</p>
            <label class="switch" for="sentiment-sentence">
                <input type="checkbox" id="sentiment-sentence" name="sentiment-sentence" value="1">
                <span class="slider round"></span>
            </label>
            <p class="analyzer-trivia">Enables sentiment analyzer trained on ~10000 tweets.
                <br>It tries to predict the polarity (e.g. <i>positive/negative</i>) of the reference and hypothesis.
                STM score is scaled to <strong>0.7</strong> and if predictions match <strong>0.3</strong> is added to
                the score.</p>
        </div>

        <div class="d-flex bd-highlight mb-3" id="sentence-boxes">
            <div class="p-2 bd-highlight">Type your hypothesis translation here:
                <p><textarea id="input-text-hypothesis"></textarea></p>
            </div>
            <div class="ml-auto p-2 bd-highlight">Type your reference translation here:
                <p><textarea id="input-text-reference"></textarea></p>
            </div>
        </div>

        <input class="btn btn-outline-secondary mb-2" id="submit-button-sentence" type="submit" value="Evaluate"
               disabled>
    </form>

    <form id="corpus-level" class="form-control d-none" onsubmit="return preventSubmission(event);"
          enctype="multipart/form-data">

        <div class="container" id="sentiment-analysis" style="padding: 10px">
            <h5 class="display-5">Sentiment Analysis</h5>
            <p style="margin-bottom: 0">Use sentiment analysis classifier:</p>
            <label class="switch" for="sentiment-corpus">
                <input type="checkbox" id="sentiment-corpus" name="sentiment" value="1">
                <span class="slider round"></span>
            </label>
            <p class="analyzer-trivia">Enables sentiment analyzer trained on ~10000 tweets.
                <br>It tries to predict the polarity (e.g. <i>positive/negative</i>) of each reference and hypothesis
                sentence.
                STM score is scaled to <strong>0.7</strong> and if predictions match <strong>0.3</strong> is added to
                the <strong>per-sentence</strong> score.</p>
        </div>


        <div class="container border-top" id="genre-analysis" style="padding: 10px">
            <h5 class="display-5">Genre Analysis</h5>
            <p style="margin-bottom: 0">Use genre analysis classifier:</p>
            <label class="switch" for="genre">
                <input type="checkbox" id="genre" name="genre" value="1">
                <span class="slider round"></span>
            </label>
            <p class="analyzer-trivia">Enables genre analyzer trained on ~20000 books.
                <br>It tries to predict the genre (e.g. <i>thriller/historical</i>) of the reference and hypothesis
                sentence.
                STM score is scaled to <strong>0.7</strong> and if predictions match <strong>0.3</strong> is added to
                the <strong>per-sentence</strong> score.</p>
        </div>

        <hr>

        <div class="content-section">
            <p style="margin-bottom: 0"><strong>NOTE:</strong> If both the sentiment and genre classifiers are enabled
                then their scores are scaled to <strong>0.15</strong> for each so that the maximum STM score is <strong>1</strong>
                in all cases.</p>
        </div>

        <div class="form-group content-section">
            <label for="hypotheses-upload">Upload file with hypotheses</label>
            <input type="file" name="hypothesis-file" class="form-control-file" required id="hypotheses-upload"
                   accept=".txt">
        </div>

        <div class="form-group content-section">
            <label for="references-upload">Upload file with references</label>
            <input type="file" name="references-file" class="form-control-file" required id="references-upload"
                   accept=".txt">
        </div>
        <input class="btn btn-outline-secondary mb-2" id="submit-button-corpus" type="submit" value="Evaluate" disabled
               style="margin: 0">
    </form>

    <hr>

    <div id="output-container-outer">
        <div class="d-none" id="output-container">
            <h5 class="display-5 text-center">Results</h5>
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <strong>Depth</strong>: <span id="depth-value"></span><br>
                    <strong>STM Score</strong>: <span id="metric-score"></span>
                </li>
            </ul>
            {# Analyzers #}
            <div class="container-md d-none" id="analyzers" style="margin-bottom: 10px">
                <ul class="list-group">
                    <li class="list-group-item text-center">
                        <strong>Sentiment analysis enabled:</strong> <span id="sentiment-analyzer-enabled"></span>
                    </li>
                    <li class="list-group-item text-center d-none" id="genre-analysis-output">
                        <strong>Genre analysis enabled:</strong> <span id="genre-analyzer-enabled"></span>
                        <div class="container d-none" id="corpora-genre">
                            <div class="row">
                                <div class="col border">
                                    <strong>Hypothesis corpora genre</strong>: <span
                                        id="hypothesis-corpora-genre"></span>
                                </div>
                                <div class="col border">
                                    <strong>Reference corpora genre</strong>: <span id="reference-corpora-genre"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {# Sentence-level #}
            <div class="container d-none" id="sentence-level-output" style="padding: 0">
                <div class="content-section border">
                    <strong>Hypothesis sentence</strong>: <br><span id="hypothesis-sentence"></span>
                    <hr>
                    <strong>Sentence Tree:</strong>
                    <img src="" alt="syntax_tree" id="hypothesis-syntax-tree">
                </div>
                <div class="content-section border">
                    <strong>Reference sentence</strong>: <br><span id="reference-sentence"></span>
                    <hr>
                    <strong>Sentence Tree:</strong>
                    <img src="" alt="syntax_tree" id="reference-syntax-tree">
                </div>
            </div>
            {# Per-sentence summary #}
            <hr>
            <div class="d-none" id="per-sentence-summary" style="padding: 0">
                <h5 class="display-5 text-center" style="margin-top: 10px">Per-sentence summary</h5>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/stm.js') }}"></script>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>References</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="btn-link" target="_blank"
                                                                     href="https://en.wikipedia.org/wiki/Sentence_diagram#Constituency_and_dependency">Sentence
                    Trees Explanation</a></li>
                <li class="list-group-item list-group-item-light"><a class="btn-link"
                                                                     href="https://www.aclweb.org/anthology/W05-0904/"
                                                                     target="_blank">Paper</a></li>
            </ul>
        </div>
        <div class="content-section d-none" id="file-structure">
            <h5 class="display-5">Notes on the file structure:</h5>
            <ul style="margin-bottom: 0">
                <li>Both files should be in plain text;</li>
                <li>Both files should have <strong>the same length in terms of sentences;</strong><br></li>
                <li>Sentences are to be split by <strong>. &nbsp;</strong> (period sign <strong>and whitespace</strong>);
                </li>
                <li>These sentences should be aligned one-to-one, i.e.:
                    <ul>
                        <li>reference1-hypothesis1</li>
                        <li>reference2-hypothesis2</li>
                        <li>reference3-hypothesis3</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
